{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Factions</h1>
            <p class="lead">Explore the various factions of Ashenfell.</p>
    </div>
    <div class="row">
        <div class="text-center">
            <btn class="btn btn-primary">Duchies of Men</btn>
            <btn class="btn btn-primary">Orc Tribes</btn>
            <btn claSS="btn btn-primary">Elven Realms</btn>
        </div>
    </div>
</div>
