/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

/* Global Variables */

:root {
    /*Fonts */

    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Cinzel", serif;

    /* Background Colours */

    --primary-bg-colour: #1a1a1a;
    --secondary-bg-colour: #2a2a2a;
    --bg-highlight-colour: #353535;

    /* Text Colours */
    --primary-text-colour: #d4c5b0;
    --secondary-text-colour: #a39482;
    --muted-text-colour: #6b5d52;

    /* Accent Colors */
    --primary-accent: #640619;
    --secondary-accent: #c9a547;
    --tertiary-accent: #4a5568;

    /* Faction Colours */
    --duchies-colour: #3b5998;
    --tribes-colour: #8b5cf6;
    --realms-colour: #4a5d23;

    /*Status Colours */
    --delete-colour: #8b1e1e;
    --edit-colour: #c9a547;
    --view-colour: #4a5568;
    --valid-colour: #52754f;
}

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    color: var(--primary-text-colour);
    text-shadow: var(--secondary-text-colour) 1px 1px 2px;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-bg-colour);
    color: var(--primary-text-colour);
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-accent);
    color: var(--primary-text-colour);
    border-bottom: var(--secondary-accent) 1px solid;
}

.nav-item {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

.nav-link {
    color: var(--primary-text-colour);
    text-shadow: var(--secondary-text-colour) 1px 1px 2px;
}

.nav-link:hover {
    color: var(--secondary-text-colour);
}

.navbar-img {
    height: 60px;
    width: auto;
}

.footer {
    background-color: var(--primary-accent);
    color: var(--primary-text-colour);
    border-top: var(--secondary-accent) 1px solid;
}

.btn-custom {
    background-color: var(--bg-highlight-colour);
    color: var(--primary-text-colour);
    border: var(--secondary-accent) 2px solid;
    transition: all 0.3s ease-in-out;
}

.btn-custom:hover {
    background-color: var(--primary-text-colour);
    color: var(--primary-bg-colour);
    border: var(--secondary-accent) 2px solid;
}

/* Home page styles */
#homeimg {
    border-radius: 20px;
    height: 90%;
    width: 90%;
    margin-left: 40px;
}

/* World page styles */
.accordion-item {
    background-color: var(--secondary-bg-colour);
    border: 1px solid var(--tertiary-accent);
    margin-bottom: 10px;
}

.accordion-header {
    background-color: var(--bg-highlight-colour);
    color: var(--primary-text-colour);
    font-family: var(--secondary-font);
}

.accordion-button {
    background-color: var(--bg-highlight-colour);
    font-size: 1.1rem;
    color : var(--primary-text-colour);
}

.accordion-button:hover {
    background-color: var(--tertiary-accent);
    color: var(--primary-text-colour);
}

.accordion-button:not(.collapsed) {
    background-color: var(--tertiary-accent);
    color: var(--primary-text-colour);
}

.accordion-button:focus {
    border: var(--bg-highlight-colour) 2px solid;
}

.accordion-body {
    background-color: var(--secondary-bg-colour);
    color: var(--primary-text-colour);
    font-family: var(--primary-font);
    line-height: 1.6;
    border : var(--tertiary-accent) 2px solid;
}

/* Faction Detail Page Styles */
.btn-duchies {
    background-color: var(--duchies-colour);
    color: var(--primary-text-colour);
    border: #5073be 2px solid;
}

.btn-duchies:hover {
    background-color: #5073be;
    color: black;
    border: var(--duchies-colour) 2px solid;
}

.btn-duchies:focus {
    background-color: #5073be;
    color: black;
    border: var(--duchies-colour) 2px solid;
}

.btn-orcs {
    background-color: var(--tribes-colour);
    color: var(--primary-text-colour);
    border: #a78bfa 2px solid;
}

.bth-orcs:hover {
    background-color: #a78bfa;
    color: black;
    border: var(--tribes-colour) 2px solid;
}

.btn-orcs:focus {
    background-color: #a78bfa;
    color: black;
    border: var(--tribes-colour) 2px solid;
}

.btn-elves {
    background-color: var(--realms-colour);
    color: var(--primary-text-colour);
    border: #6b7a2f 2px solid;
}

.btn-elves:hover {
    background-color: #6b7a2f;
    color: black;
    border: var(--realms-colour) 2px solid;
}

.btn-elves:focus {
    background-color: #6b7a2f;
    color: black;
    border: var(--realms-colour) 2px solid;
}

.card {
    background-color: var(--secondary-bg-colour);
    border: var(--secondary-accent) 2px solid;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card img {
    object-fit: cover;
    height: 250px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
