/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* Global Variables */

:root {
 /*Fonts */
 
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Cinzel', serif;
    
    /* Background Colours */

    --primary-bg-colour: #1c1410;
    --secondary-bg-colour: #2b2318;
    --bg-highlight-colour: #3d2f23;

    /* Text Colours */
    --primary-text-colour: #d4c5b0;
    --secondary-text-colour: #a39482;
    --muted-text-colour: #6b5d52;

    /* Accent Colors */
    --primary-accent: #640619;
    --secondary-accent: #a01717;
    --tertiary-accent: #8b6f47;

    /* Faction Colours */
    --duchies-colour: #3b5998;
    --tribes-colour: #8b5cf6;
    --realms-colour: #4a5d23;

    /*Status Colours */
    --delete-colour: #8b1e1e;
    --edit-colour: #c9a547;
    --view-colour: #4a5568;
    --valid-colour: #52754f;
}

/* Global Styles */
h1, h2, h3, h4, h5, h6{
    font-family : var(--secondary-font);
    color : var(--primary-text-colour);
    text-shadow : var(--secondary-text-colour) 1px 1px 2px;
}

body {
    font-family : var(--primary-font);
    background-color : var(--primary-bg-colour);
    color : var(--primary-text-colour);
    
}

/* Navbar Styles */
.navbar {
    background-color : var(--primary-accent);
    color : var(--primary-text-colour);
    border-bottom : var(--secondary-accent) 1px solid;


}

.nav-item {
    font-family : var(--secondary-font);
    font-size : 1.2rem;
}

.nav-link {
    color : var(--primary-text-colour);
    text-shadow : var(--secondary-text-colour) 1px 1px 2px;
}

.nav-link:hover{
    color : var(--secondary-text-colour);
}

.navbar-img {
    height: 60px;
    width : auto;

}

.footer{
    background-color : var(--primary-accent);
    color : var(--primary-text-colour);
    border-top : var(--secondary-accent) 1px solid;
    
}


/* Home page styles */
#homeimg{
    border-radius : 20px;
    height : 90%;
    width : 90%;
    margin-left : 40px;
}

.btn-homepg{
    background-color : var(--bg-highlight-colour);
    color : var(--primary-text-colour);
    border : var(--secondary-accent) 2px solid;
    transition: all 0.3s ease-in-out;
}

.btn-homepg:hover{
    background-color : var(--primary-text-colour);
    color : var(--primary-bg-colour);
    border : var(--secondary-accent) 2px solid;
}

/* World page styles */
