/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

/* Global Variables */

:root {
 /*Fonts */
 
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Cinzel', serif;
    
    /* Background Colours */

    --primary-bg-colour: #1a1a1a;
    --secondary-bg-colour: #2a2a2a;
    --bg-highlight-colour: #353535;

    /* Text Colours */
    --primary-text-colour: #e0e0e0;
    --secondary-text-colour: #a0a0a0;
    --muted-text-colour: #707070;

    /* Faction Colours */
    --duchies-colour: #3b5998;
    --tribes-colour: #8b5cf6;
    --realms-colour: #4a5d23;

    /*Status Colours */
    --delete-colour: #8b1e1e;
    --edit-colour: #c9a547;
    --view-colour: #4a5568;

}

/* Global Styles */
h1, h2, h3, h4, h5, h6{
    font-family : var(--secondary-font);
    color : var(--primary-text-colour);
    text-shadow : var(--secondary-text-colour) 1px 1px 2px;
}

body {
    font-family : var(--primary-font);
    background-color : var(--primary-bg-colour);
    color : var(--primary-text-colour);
}